body {
  margin: 0;
  padding: 0;
  background-color: white;
}

/*---------Header-------- */
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
}

.container div {
  padding: 15px;
  font-family: Helvetica;
  font-weight: bold;
}

.header {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  z-index: 3;
}

.top {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.search {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 100%;
}
.search label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-icon {
  font-size: 1.8rem;
}
.search > #search {
  display: inline-block;
  border: 0;
  background-color: #cbcbca;
  padding: 0.75rem 2em;
  outline-color: black;
  margin-left: 1.25rem;
  border-radius: 99em;
  width: min(80%, 700px);
}
.header .account {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 800;
}
.account button {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture {
  background: url(./icons/avatar-19-svgrepo-com.svg) center center / cover
    no-repeat;
  border-radius: 50%;
}
.account .picture {
  margin: 0 1rem 0 2.5rem;
  height: 40px;
  width: 40px;
}
.bottom {
  display: grid;
  grid-template-columns: 1fr max-content;
}
.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile .picture {
  width: 75px;
  height: 75px;
}
.profile .greeting {
  font-weight: 800;
  margin-bottom: 0.4rem;
}
.profile .name {
  font-size: 1.6rem;
  font-weight: 800;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.btn {
  background-color: #0ea5e9;
  color: #fafaf9;
  font-weight: 500;
  padding: 0.75em 2.3em;
  border-radius: 99em;
  text-decoration: none;
}

/* --- --- --- --- --- SIDEBAR --- --- --- --- --- --- */
.sidebar {
  display: grid;
  grid-row: 1/3;
  background-color: #0ea5e9;
  color: #fafaf9;
  grid-template-rows: 80px max-content max-content;
  align-items: center;
}
.sidebar-title {
  display: grid;
  grid-row: 1;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.sidebar-title > [class="material-icons"] {
  font-size: 1.4em;
}
.nav {
  list-style: none;
  font-size: 1.2rem;
  display: grid;
  gap: 1.5rem;
}
.nav-item.current {
  font-weight: 900;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 1em;
  color: #fafaf9;
  text-decoration: none;
}

/*-- Projects section --*/

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
.projects h3 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}

.card {
  height: 200px;
  background-color: #fafaf9;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.projects .card {
  border-left: 10px solid #0ea5e9;
  display: flex;
  flex-direction: column;
}

.projects .card-title {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.like-icon {
  cursor: pointer;
}

.liked {
  color: rgb(241, 9, 9);
}

/* design  */
.projects .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.actions {
  margin-top: auto;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
.actions span {
  font-size: 1.75rem;
  cursor: pointer;
}

.projects .card:hover {
  transform: scale(1.015);
}
